tbody {
    display:block;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.values {
    font-size:1.2rem;
}

/*SVG ICON SYSTEM*/
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1.4em;
    width: 1.8em;
    fill: currentColor;
}

.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}